@charset "UTF-8";
:root {
  /* ============ ПЕРЕМЕННЫЕ ЦВЕТА ============ */
  --color-font-main: #212121;
  --color-font-head: #757575;
  --color-font-placeholder-modal: rgba(117, 117, 117, 0.5);
  --color-font-footer: rgba(255, 255, 255, 0.6);
  /* =============================== */
  --color-background-another: #E5E5E5;
  --color-background-team: #F5F4FA;
  --color-background-footer: #2F303A;
  --color-background-footer-icon: rgba(255, 255, 255, 0.1);
  --color-background-backdrop: rgba(0, 0, 0, 0.2);
  --color-background-activity: rgba(47, 48, 58, 0.8);
  --color-background-overlay: rgba(33, 150, 243, 0.9);
  /* =============================== */
  --color-light: #FFFFFF;
  --color-dark: #000000;
  /* =============================== */
  --color-border-line: #ECECEC;
  --color-borders-portfolio: #EEEEEE;
  --color-border-clients: #AFB1B8;
  --color-border-modal: rgba(33, 33, 33, 0.2);
  /* =============================== */
  --color-logo-links-hover: #2196F3;
  --color-button-hover: #188CE8;
  /* ========================================== */
}

/* ========== Сброс отступов у ВСЕХ заголовков и ВСЕГО текста ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* =================== Сброс нижнего отступа у img =================== */
img {
  display: block;
}

/* --- Задаем ВСЕМ кнопкам тип курсора pointer ------ */
.buttons {
  cursor: pointer;
}

/* ------ Убираем подчеркивание со ВСЕХ ссылок ------ */
/* a {text-decoration: none;} */
.links {
  text-decoration: none;
}

/* ---- Убираем точки и ВЕРХ и НИЗ отступы со ВСЕХ списков ---- */
/* ul {list-style-type: none;} */
.lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  color: var(--color-font-main);
  background-color: var(--color-light);
  /* =============================== */
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* line-height: 1.71; */
  letter-spacing: 0.03em;
}

/* ============ Для отсутствия скрола контента на Модалке  ============ */
body.modal-open {
  overflow: hidden;
}

/* ============ Секция - отступы 94px сверху и снизу ============ */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ================ Скрытие заголовков (visually-hidden) ================ */
.visually-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* a {text-decoration: none;} */
/* ul {list-style-type: none;} */
/* =====================  ОСНОВНОЙ Контейнер (container) ===================== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* УБРАТЬ */
  /* outline: 2px solid tomato;  */
  /* background-color: tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* =================== flex - контейнеры (________)==================== */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-spacebetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ========== Стилизация ОСНОВНОЙ КНОПКИ (button-main)  ==========*/
.button-main {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: var(--color-light);
  background-color: var(--color-logo-links-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover, .button-main:focus {
  background-color: var(--color-button-hover);
}

/* ========== Стилизация кнопок в ГЕРОЙ-ССЫЛКИ в (btn-filters) в portfolio.html ==========*/
.btn-filters {
  display: inline-block;
  padding: 6px 22px;
  margin-bottom: 50px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  color: inherit;
  background-color: var(--color-background-team);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* =====  Hover & Focus на кнопках в ГЕРОЙ-ССЫЛКИ в (btn-filters) в portfolio.html ===== */
}
.btn-filters:hover, .btn-filters:focus {
  color: var(--color-light);
  background-color: var(--color-logo-links-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ____________  К О Н Е Ц кнопки в ГЕРОЙ-ССЫЛКИ в portfolio.html ______________________ */
/* === Стилизация Заголовка h2 в Блок-секция_3 Чем мы занимаемся (activities)
 и в Блок-секция_4 Наша команда (team) === */
.section-titles {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
}

/* ============ Стилизация Секции (hero) в ГЕРОЙ  ============ */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

/* ============== Контейнер для ФОНА в ГЕРОЙ (overlay) ========== */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bck-img.jpg");
  /* background-image: url("../images/bck-img.jpg"); */
  background-color: var(--color-background-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .overlay {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* ====== Стилизация заголовка h1 в ГЕРОЙ (hero__title) ===== */
.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

/* _________________________  К О Н Е Ц   Блок-секции_1 ГЕРОЙ (hero) _________________________ *//*# sourceMappingURL=main.css.map */