
/* ============ Стилизация Секции (hero) в ГЕРОЙ  ============ */
.hero {
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: $desktop) {
            padding-top: 200px;
            padding-bottom: 200px;
        }

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: var(--color-background-footer);
}


/* ============== Контейнер для ФОНА в ГЕРОЙ (overlay) ========== */

// !-----------------------old----------------------
// .overlay {
//     max-width: 1600px;
//     height: 600px;

//     background-color: var(--color-background-footer);

//     background-image:
//         linear-gradient(to right,
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url("../images/bck-img.jpg");
    
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }
// !_________________________________________________

// !----------------------new---------------------------
.overlay {
    // max-width: 480px;
    height: 400px;
    background-image:
            linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../images/imgbck-img_480-1x-min.jpg");
    background-position: center;
    background-size: cover;
}


@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/imgbck-img_480-2x-min.jpg");
    }
}



@media screen and (min-width: 768px) {
    .overlay {
        max-width: 1199px;
        height: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/imgbck-img_768-1x-min.jpg");
        background-position: center;
        background-size: cover;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/imgbck-img_768-2x-min.jpg");
        }
    }
}



@media screen and (min-width: 1200px) {
    .overlay {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/imgbck-img_1200-1x-min.jpg");
        background-position: center;
        background-size: cover;
    }

    /* 2x screens, retina, 3200x1200 image */
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/imgbck-img_1200-2x-min.jpg");
        }
    }
}



/* ====== Стилизация заголовка h1 в ГЕРОЙ (hero__title) ===== */
.hero__title {
    max-width: 360px;
    // max-width: 696px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--color-light);

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
        }
}

/* _________________________  К О Н Е Ц   Блок-секции_1 ГЕРОЙ (hero) _________________________ */