/* ================ Стилизация Секции Наши особенности (features) ================ */

/* ==== flex-контейнер в Секции Наши особенности (features) 1 вариант ===== */
/* .features-list {
    display: flex;
    justify-content: space-between;
}
.features-list .features-item {
    width: 270px;

    background-color: tomato;
} */
/* ____________________________________________________________________________ */

/* ==== flex-контейнер в Секции Наши особенности (features) 2 вариант ===== */
.features-list {
        // display: flex;
    // gap: 30px;

    margin-bottom: -30px;
    text-align: center;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
        }
}


.features-item {
    // width: calc((100% - 90px) / 3); 
    // width: 100%;
    // margin-bottom: 60px;
    // display: block;

        
        &::before {
        content: "";
        display: block;
        height: 120px;
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--color-background-team);
        }
        
        @media screen and (min-width: $tablet) {
            width: calc(100% / 2 - 30px);
            margin-left: 30px;
        }

        @media screen and (min-width: $desktop) {
            width: calc(100% / 4 - 30px);
            margin-left: 30px;
        }

        // background-size: 70px 70px;
        // background-repeat: no-repeat;
        // background-position: center;
}

/* ============== Иконки в Секции Наши особенности (features) =============== */
.icon-features-first::before {
    background-image: url("../images/antenna1.svg");
}

.icon-features-second::before {
    background-image: url("../images/clock2.svg");
}

.icon-features-third::before {
    background-image: url("../images/diagram3.svg");
}

.icon-features-fourth::before {
    background-image: url("../images/astronaut4.svg");
}

/* ____________________________________________________________________________ */


/* ==== Стилизация заголовка h3 в Наши особенности (features) ====*/
.features-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--color-font-main);

    @media screen and (min-width: $tablet) {
        text-align: left;
        
    }
}


/* ==== Стилизация Текста <p> в (в Наши особенности (features) ==== */
.features-description {
    line-height: 1.71;

    text-align: left;

    margin-bottom: 30px;

    color: var(--color-font-head);
}

/* ______________________  К О Н Е Ц Блок-секция_2 Наши особенности ______________________ */