/* ============== Стилизация Секции Чем мы занимаемся (activities) ============== */
.activities {
    padding-top: 0;

    @media screen and (max-width: 1199px) {
        display: none;
        }
}

/* ==== flex-контейнер в Секции Наши особенности (activity) ===== */
.activities__list {
    @extend %lists;
    @extend %flex-space-between;
}

.activities__card {
    position: relative;

}

.activities__title {
    position: absolute;

    width: 100%;

    bottom: 0;
    left: 0;

    padding-top: 27px;
    padding-bottom: 27px;
    /* font-size: 10px; */
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: var(--color-background-activity);
}

/* === Стилизация Заголовка h2 Чем мы занимаемся вынесен в _title.scss === */

/* ___________________  К О Н Е Ц Блок-секция_3 Чем мы занимаемся ______________________ */