/* =============================== Стилизация footer =============================== */

/* ================ Цвет фона в footer ================ */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--color-background-footer);
}


/* == Замена цвета текста WebStudio (часть Studio - на белую) в footer == */
.logo__left--light {
    color: var(--color-light);
}

/* Применить отступ margin-bottom: 20px к элементу LOGO */
.footers__logo {
    /* display: inline-block; */
    margin-bottom: 20px;
}


/* ============= Стилизация АДРЕС в footer ============= */
.footer__address-link {
    font-style: normal;
    line-height: 1.71;

    color: var(--color-light);
}

/* ======== Стилизация (почта и телефон) в footer ======== */
.footer__contact-link {
    font-style: normal;
    line-height: 1.71;

    color: var(--color-font-footer);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--color-logo-links-hover);
    }
}

/* ======  Hover & Focus на ссылках (почта и телефон) в footer ===== */
// .footer__contact-link:hover,
// .footer__contact-link:focus {
//     color: var(--color-logo-links-hover);
// }

/* Применить margin-bottom: 9px ко всем элементам с классом footer__address-item,
кроме последнего */
.footer__address-item:not(:last-child) {
    margin-bottom: 9px;

}

/* ==================== Стилизация Блока СОЦ СЕТИ (footer__soc) ==================== */
.footer__soc {
    min-width: 206px;
    margin-top: 12px;
    margin-left: 70px;

    /* outline: 2px solid rgb(40, 2, 255); */
}


.footer__soc-item {
    width: 44px;
    height: 44px;
}

.footer__soc-link {
    display: flex;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    background-size: contain;
    background-color: var(--color-background-footer-icon);

    fill: var(--color-light);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--color-logo-links-hover);
    }
}

// ----------------------------------------------------------
// .footer__soc-link:hover,
// .footer__soc-link:focus {
//     background-color: var(--color-logo-links-hover);
// }
// _____________________________________________________________

/* ======== Ститлизация текста в Блоке СОЦ СЕТИ (footer__soc) ========== */
.footer__soc-titles {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--color-light);
}


/* ======================== Стилизация формы ПОДПИСАТЬСЯ ======================== */
.footer__subscr {
    margin-left: 93px;
    padding-top: 12px;
}

.footer__field--margin {
    margin-top: 15px;
}



.footer__input {
    width: 100%;  //!+++++++ 02.06.
    // width: 358px; //!+++++++ 02.06.

    height: 50px;

    padding-left: 16px;

    outline: none;

    font-size: 16px;
    line-height: 1.25;

    color: var(--color-light);
    background-color: var(--color-background-footer);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
    
            color: var(--color-font-footer);
        }    
}


.footer__btn {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 12px;
    padding-left: 29px;

    text-align: left;

}

.footer__icon {
    margin-left: 10px;

    fill: var(--color-light);
}

// !========= Медиа-правила до ширины 767px ==========
@media screen and (max-width: 767px) {
    .footer .container,
    .footer__address,
    .footer__address-list,
    .footer__soc,
    .footer__subscr,
    .footer__soc-titles,
    .footer__field {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footers__logo {
        margin-bottom: 20px;
    }
    


    .footer__address-list {
        margin-bottom: 60px;
    }
    /* ==================== Стилизация Блока СОЦ СЕТИ (footer__soc) ==================== */
    .footer__soc {
        min-width: 206px;
        // max-width: 420px;  //! включить для отзывчивости
        // width: 100%;  //! включить для отзывчивости
        // padding-right: 30px;   //! включить для отзывчивости
        // padding-left: 30px; //! включить для отзывчивости
        
        margin-bottom: 60px;
        margin-top: 0px;
        margin-left: 0;
    }

    .footer__soc-list {
        // min-width: 206px; //! включить для отзывчивости
        width: 100%;
    }



/* ======================== Стилизация формы ПОДПИСАТЬСЯ ======================== */
    

    .footer__subscr form { //!+++++++ 02.06.
        width: 100%;
    }

    .footer__field--margin {
        margin-top: 0;
        flex-direction: column;
    }

// ! ++++++++++ ?????? ++++++++++++++
        .footer__subscr { //!+++++++ 02.06.
        margin-left: 0;
        padding-top: 0;
        width: 100%;

        // min-width: 290px;
        // max-width: 448px;

        // width: 100%;  //! включить для отзывчивости
        // padding-right: 30px;   //! включить для отзывчивости
        // padding-left: 30px; //! включить для отзывчивости
    }

    .footer__input {
        // width: 400px; 
        width: 100%; //! ????????????????????
        height: 50px;
    }



    .footer__btn {
        margin-left: 0;
        margin-top: 20px;
    }
}

// !++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++





// 
// !========= Медиа-правила от ширины 768px  и до  1199 px  ==========
@media screen and (min-width: $tablet) and (max-width: 1199px) {
    .footer__address {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 232px;
        width: 100%;
    }


    .footer__address-tab { // !взять для 1200 и более
        display: flex;
        align-items: baseline;
        width: 100%;
    }


    .footer .container {
        display: flex;
        flex-direction: column;

        // margin-left: 0; //!+++++++ 02.06.
        // margin-right: 0; //!+++++++ 02.06.

        // width: 100%; //!+++++++ 02.06.
    }

    .footer__field {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__field--margin { //!+++++++ 02.06.
        // margin-top: 0;
        flex-direction: column;
    }

        .footer__input { //!+++++++ 02.06.
            width: 450px; 
            // width: 100%; 
            height: 50px;
        }
// !----------------------------
    .footers__logo {
        margin-bottom: 20px;
    }

    .footer__address-list {
        text-align: center;
    }

    .footer__soc {
        // margin: 0;
        padding: 0;
        margin-right: 89px;
        margin-left: auto;
        text-align: center;
    }


    .footer__subscr {
        margin-left: 0;
        text-align: center;
    }


    .footer__address-tab {
        margin-bottom: 60px;
    }

    .footer__address {
        margin-left: 76px;
    }

    .footer__btn {
        margin-left: 0;
        margin-top: 20px;
    }

}

// !========= Медиа-правила для ширины 1200px и более ==========

@media screen and (min-width: $desktop) {
    .footer__address-tab {
        // !взять для 1200 и более
        display: flex;
        align-items: baseline;
        // justify-content: space-between;
        width: 100%;
    }

        .footer__input { //!+++++++ 02.06.
            width: 358px;
            // height: 50px;
        }
}

/* ____________________________  К О Н Е Ц  footer ______________________________________ */