/* =====================  ОСНОВНОЙ Контейнер (container) ===================== */
.container {
    // width: 1200px;
    // min-width: 320px;
    width: 100%;
    // width: 100vw;
    
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;

        @media screen and (min-width: $mobile) {
            width: 480px;
        }
    
        @media screen and (min-width: $tablet) {
            width: 768px;
        }
    
        @media screen and (min-width: $desktop) {
            width: 1200px;
        }
}


/* =================== flex - контейнеры (________)==================== */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-spacebetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
