body {
    color: var(--color-font-main);
    background-color: var(--color-light);
    /* =============================== */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* line-height: 1.71; */
    letter-spacing: 0.03em;
}


/* ============ Для отсутствия скрола контента на Модалке  ============ */
body.modal-open {
    overflow: hidden;
}


.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

